.BoardD {
  width: 100vw;
  height: 84vh;
  .BoardD-t {
    position: relative;
    z-index: 1;
    width: calc(80% - 200px);
    height: 10%;
    margin: 0 auto;
    text-align: center;
    > h3 {
      height: 100%;
      line-height: 8.4vh;
      font-size: 1.5em;
    }
    > button {
      position: absolute;
      z-index: 20;
      bottom: 0;
      right: 0;
      width: 8%;
      height: 40%;
    }
  }
  .BoardD-m {
    position: relative;
    width: calc(80% - 200px);
    height: 10%;
    margin: 0 auto;
    box-sizing: border-box;
    > select {
      position: absolute;
      top: 50%;
      left: 0;
      width: 5%;
      height: 35%;
      transform: translate(0, -50%);
      border-radius: 0;
    }
    > span {
      position: absolute;
      top: 50%;
      right: 15%;
      transform: translate(0, -50%);
    }
    > input {
      position: absolute;
      top: 50%;
      right: 0;
      width: 15%;
      height: 35%;
      transform: translate(0, -50%);
      box-sizing: border-box;
      padding: 5px;
      border-radius: 0;
    }
  }
  .BoardD-b {
    width: 80%;
    height: 60vh;
    margin: 0 auto;
    padding: 0 100px;
    box-sizing: border-box;
    .BoardD-table {
      width: 100%;
      height: 100%;
      text-align: center;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      border-collapse: collapse;
      > thead {
        > tr {
          border-bottom: 2px solid #ccc;
          > th {
            &:nth-child(1) {
              width: 5%;
            }
            &:nth-child(2) {
              width: 45%;
            }
            &:nth-child(3) {
              width: 15%;
            }
            &:nth-child(4) {
              width: 15%;
            }
            &:nth-child(5) {
              width: 10%;
            }
            &:nth-child(6) {
              width: 10%;
            }
          }
        }
      }
      > tbody {
        > tr {
          cursor: pointer;
          border-top: 1px solid #ccc;
          &:hover {
            .Board-title {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .page-nav {
    display: flex;
    justify-content: center;
    > button {
      width: 30px;
      margin: 20px 30px;
      border: none;
      background: none;
      cursor: pointer;
      &.active {
        color: red;
      }
    }
  }
}
.BoardF {
  width: 100vw;
  height: 84vh;
  .BoardF-t {
    position: relative;
    z-index: 1;
    width: calc(80% - 200px);
    height: 10%;
    margin: 0 auto;
    text-align: center;
    > h3 {
      height: 100%;
      line-height: 8.4vh;
      font-size: 1.5em;
    }
    > button {
      position: absolute;
      z-index: 20;
      bottom: 0;
      right: 0;
      width: 8%;
      height: 40%;
    }
  }
  .BoardF-b {
    width: 80%;
    height: 60vh;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 100px;
    margin-top: 8.4vh;
    .BoardF-table {
      width: 100%;
      height: 100%;
      text-align: center;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      border-collapse: collapse;
      > thead {
        > tr {
          border-bottom: 2px solid #ccc;
          > th {
            &:nth-child(1) {
              width: 5%;
            }
            &:nth-child(2) {
              width: 45%;
            }
            &:nth-child(3) {
              width: 15%;
            }
            &:nth-child(4) {
              width: 15%;
            }
            &:nth-child(5) {
              width: 10%;
            }
            &:nth-child(6) {
              width: 10%;
            }
          }
        }
      }
      > tbody {
        > tr {
          cursor: pointer;
          border-top: 1px solid #ccc;
          &:hover {
            .Board-title {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .page-nav {
    display: flex;
    justify-content: center;
    > button {
      width: 30px;
      margin: 20px 30px;
      border: none;
      background: none;
      cursor: pointer;
      &.active {
        color: red;
      }
    }
  }
}
.BoardDI {
  .BoardDI-t {
    position: relative;
    width: 80%;
    height: 10vh;
    margin: 0 auto;
    text-align: center;
    line-height: 10vh;
    > button {
      position: absolute;
      top: 50%;
      left: 100px;
      transform: translate(0, -50%);
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1.2em;
    }
  }
  .BoardDI-b {
    position: relative;
    width: 80%;
    height: 64vh;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 100px;
    > div {
      display: flex;
      align-items: center;
      > span:nth-child(1) {
        display: inline-block;
        width: 10%;
      }
    }
    .person {
      height: 10%;
      border-top: 1px solid #bbb;
      border-bottom: 1px solid #bbb;
    }
    .title {
      height: 10%;
      > input {
        width: 75%;
        height: 50%;
        padding: 0 5px;
        box-sizing: border-box;
      }
    }
    .content {
      height: 80%;
      border-top: 1px solid #bbb;
      border-bottom: 1px solid #bbb;
      > textarea {
        width: 85%;
        height: 80%;
        resize: none;
        padding: 5px;
        box-sizing: border-box;
      }
    }
  }
  .btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    > button {
      position: absolute;
      bottom: 50%;
      width: 5%;
      height: 50%;
      margin: 0 10px;
      transform: translate(-50%, 50%);
    }
    .Bbtn-u {
      left: 47%;
    }
    .Bbtn-c {
      left: 53%;
    }
  }
}
.BoardFI {
  .BoardFI-t {
    position: relative;
    width: 80%;
    height: 10vh;
    margin: 0 auto;
    text-align: center;
    line-height: 10vh;
    > button {
      position: absolute;
      top: 50%;
      left: 100px;
      transform: translate(0, -50%);
      border: none;
      background: none;
      font-size: 1.2em;
      cursor: pointer;
    }
  }
  .BoardFI-b {
    position: relative;
    width: 80%;
    height: 64vh;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 100px;
    > div {
      display: flex;
      align-items: center;
      > span:nth-child(1) {
        display: inline-block;
        width: 10%;
      }
    }
    .person {
      height: 10%;
      border-top: 1px solid #bbb;
      border-bottom: 1px solid #bbb;
    }
    .title {
      height: 10%;
      > input {
        width: 75%;
        height: 50%;
        padding: 0 5px;
        box-sizing: border-box;
      }
    }
    .content {
      height: 70%;
      border-top: 1px solid #bbb;
      border-bottom: 1px solid #bbb;
      > textarea {
        width: 85%;
        height: 80%;
        resize: none;
        padding: 5px;
        box-sizing: border-box;
      }
    }
    .file {
      height: 10%;
    }
  }
  .btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    > button {
      position: absolute;
      bottom: 50%;
      width: 5%;
      height: 50%;
      margin: 0 10px;
      transform: translate(-50%, 50%);
    }
    .Bbtn-u {
      left: 47%;
    }
    .Bbtn-c {
      left: 53%;
    }
  }
}
.BoardDD {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  padding: 0 10px;
  overflow: auto;
  .BoardDD-btns {
    position: relative;
    height: 8vh;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    .back-btn {
      position: absolute;
      top: 10%;
      left: 0;
      background: none;
      border: none;
      font-size: 1.2em;
      cursor: pointer;
    }
    .delete-btn {
      position: absolute;
      bottom: 10%;
      right: 0;
      width: 8%;
    }
  }
  .BoardDD-dataText {
    height: 10vh;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    > h4 {
      height: 60%;
      text-align: start;
      box-sizing: border-box;
      padding: 5px 10px;
    }
    > div {
      position: relative;
      height: 40%;
      box-sizing: border-box;
      padding: 5px 10px;
      > span:nth-child(1) {
        position: absolute;
        left: 10px;
      }
      > span:nth-child(2) {
        position: absolute;
        right: 10%;
      }
      > span:nth-child(3) {
        position: absolute;
        right: 10px;
      }
    }
  }
  .BoardDD-content {
    box-sizing: border-box;
    padding: 10px 0;
    border-bottom: 1px solid black;
    height: 24vh;
    .content {
      width: 100%;
      height: 100%;
      text-align: start;
      box-sizing: border-box;
      border: 2px solid #ccc;
      padding: 10px;
      background-color: rgba(white, 0.9);
    }
  }
  .BoardDD-likeHate {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    box-sizing: border-box;
    padding: 10px 0;
    > button {
      margin: 0 5px;
      border: none;
      background: none;
      cursor: pointer;
      &.like.active {
        > svg {
          > path {
            fill: #3282F6;
          }
        }
      }
      &.disLike.active {
        > svg {
          > path {
            fill: #F65834;
          }
        }
      }
      > svg {
        > path {
          fill: black;
        }
      }
    }
  }
  .BoardDD-comment {
    height: 36vh;

    .comment-title {
      height: 15%;
      text-align: start;
      box-sizing: border-box;
      padding: 0 10px;
      border: 1px solid black;
    }
    .comment-input {
      position: relative;
      width: 100%;
      height: 30%;
      > textarea {
        width: 100%;
        height: 100%;
        border-radius: 0;
        box-sizing: border-box;
        border-left: 1px solid black;
        border-right: 1px solid black;
        padding: 10px;
        padding-right: 60px;
        background: rgb(224, 223, 223);
        resize: none;
      }
      > button {
        position: absolute;
        top: 10px;
        right: 20px;
        width: 50px;
        height: 70%;
      }
    }
    .comment-main {
      position: relative;
      height: 45%;
      text-align: start;
      box-sizing: border-box;
      padding: 0 10px;
      border: 1px solid black;
      font-size: 0.5em;
      padding-top: 5px;
      padding-bottom: 10px;
      .comment-id {
        height: 20%;
      }
      .comment-content {
        height: 20%;
      }
      .comment-date {
        height: 20%;
      }
      .comment-btns {
        display: flex;
        height: 40%;
        padding: 5px 0;
        box-sizing: border-box;
        > button {
          margin: 0 5px;
          border: none;
          background: none;
          cursor: pointer;
          &.btn-like.active {
            > svg {
              > path {
                fill: #3282F6;
              }
            }
          }
          &.btn-hate.active {
            > svg {
              > path {
                fill: #F65834;
              }
            }
          }
          > svg {
            > path {
              fill: black;
            }
          }
        }
        .btn-text {
          background-color: rgb(255, 255, 255);
        }
        .btn-like {
          margin-left: auto;
        }
        .btn-hate {
          margin-left: 30px;
        }
      }
      .comment-delete {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 50px;
        > button {
          cursor: pointer;
          width: 100%;
        }
      }
    }
    .comment-comment-main {
      position: relative;
      height: 45%;
      text-align: start;
      box-sizing: border-box;
      padding: 10px 50px;
      padding-right: 10px;
      border: 1px solid black;
      font-size: 0.5em;
      .comment-comment-id {
        height: 20%;
      }
      .comment-comment-input {
        width: 100%;
        height: 80%;
        border-radius: 0;
        box-sizing: border-box;
        resize: none;
      }
      .comment-comment-inputBtn {
        position: absolute;
        right: 1%;
        top: 5%;
        width: 50px;
      }
      .comment-comment-content {
        height: 40%;
        margin-top: 10px;
      }
      .comment-comment-date {
        position: relative;
        height: 20%;
        > button {
          position: absolute;
          margin: 0 5px;
          border: none;
          background: none;
          cursor: pointer;
          &.btn-like.active {
            > svg {
              > path {
                fill: #3282F6;
              }
            }
          }
          &.btn-hate.active {
            > svg {
              > path {
                fill: #F65834;
              }
            }
          }
          > svg {
            > path {
              fill: black;
            }
          }
          &.btn-like {
            right: 60px;
          }
          &.btn-hate {
            right: 0;
            margin-left: 30px;
          }
        }
      }
      .comment-comment-delete {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 50px;
        > button {
          cursor: pointer;
          width: 100%;
        }
      }
      .comment-comment-enter {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        left: 10px;
        width: 40px;
        height: 40px;
        transform: translate(0, -50%);
        > svg {
          width: 40%;
          height: 40%;
          transform: rotate(90deg);
        }
      }
    }
  }
}
.BoardFD {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  padding: 0 100px;
  .BoardFD-btns {
    position: relative;
    height: 8vh;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    .back-btn {
      position: absolute;
      top: 10%;
      left: 0;
      width: 8%;
    }
    .delete-btn {
      position: absolute;
      bottom: 10%;
      right: 0;
      width: 8%;
    }
  }
  .BoardFD-dataText {
    height: 10vh;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    > h4 {
      height: 60%;
      text-align: start;
      box-sizing: border-box;
      padding: 5px 10px;
    }
    > div {
      position: relative;
      height: 40%;
      box-sizing: border-box;
      padding: 5px 10px;
      > span:nth-child(1) {
        position: absolute;
        left: 10px;
      }
      > span:nth-child(2) {
        position: absolute;
        right: 10%;
      }
      > span:nth-child(3) {
        position: absolute;
        right: 10px;
      }
    }
  }

  .BoardFD-content {
    box-sizing: border-box;
    padding: 10px 0;
    border-bottom: 1px solid black;
    height: 24vh;
    .content {
      width: 100%;
      height: 100%;
      text-align: start;
      box-sizing: border-box;
      border: 2px solid #ccc;
      padding: 10px;
      background-color: rgba(white, 0.9);
    }
  }

  .BoardFD-likeHate {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    box-sizing: border-box;
    padding: 10px 0;
    > button {
      margin: 0 5px;
      border: none;
      background: none;
      cursor: pointer;
      &.like.active {
        > svg {
          > path {
            fill: #3282F6;
          }
        }
      }
      &.disLike.active {
        > svg {
          > path {
            fill: #F65834;
          }
        }
      }
      > svg {
        > path {
          fill: black;
        }
      }
    }
  }

  .BoardFD-file {
    height: 36vh;
    .file-title {
      height: 15%;
      text-align: start;
      box-sizing: border-box;
      padding: 0 10px;
      border: 1px solid black;
    }
    .file-main {
      display: flex;
      height: 70%;
      border: 1px solid black;
      border-top: none;
      background-color: white;
      > div {
        width: 20%;
        box-sizing: border-box;
        padding: 10px;
        .main-img {
          width: 50%;
          height: 50%;
          margin: 0 auto;
          > img {
            width: 100%;
            height: 100%;
          }
        }
        > .main-file {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 80%;
          height: 30%;
          box-sizing: border-box;
          font-size: 0.6em;
          margin: 0 auto;

          .name {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 5px 0;
            box-sizing: border-box;
          }
          .size {
            width: 100%;
            padding: 5px 0;
            box-sizing: border-box;
          }
        }
        > button {
          width: 80%;
          border-radius: 5px;
        }
      }
    }
  }
}

.Dpost {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-top: 1px solid black;
  padding: 2px 15px;
  font-size: 0.7em;
  > span {
    color: red;
    box-sizing: border-box;
    padding: 2px 5px;
    font-weight: 600;

    &.New {
      background-color: yellow;
      border-radius: 50%;
      color: rgba(red, 0.9);
    }
  }
  .Text {
    flex: 1;
    margin-left: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .Person {
    width: 20%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .Day {
    width: 20%;
    text-align: center;
  }
  &:last-child {
    border-bottom: 1px solid black;
  }
}

.Fpost {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-top: 1px solid black;
  padding: 2px 15px;
  font-size: 0.7em;

  > span {
    color: red;
    box-sizing: border-box;
    padding: 2px 5px;
    font-weight: 600;
    &.New {
      background-color: yellow;
      border-radius: 50%;
      color: rgba(red, 0.9);
    }
  }
  .Mimg {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    >img{
      width: 100%;
      height: 100%;
    }
  }
  .Text {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .Person {
    width: 20%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .Day {
    width: 20%;
    text-align: center;
  }
  &:last-child {
    border-bottom: 1px solid black;
  }
}
